<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<link rel="stylesheet" href="/admin/admin-creditcard.css">
		<meta charset="UTF-8">
		<title>User Credit Cards</title>
		<script src="https://kit.fontawesome.com/87c4d319f6.js" crossorigin="anonymous"></script>
	</head>
	<body>
	<div class="linkContainerSideBar" id="sidebar">
		<div class="sidebarHeader">
				<p id="sidebarHeader" ><img src="/logo-transparent.png"></p>
		</div>
		<div class="sidebarLinks">
			<div class="dashboard">
				<a id="dashboard" href="/admin/dashboard"><i class="fa-solid fa-clipboard"></i>Dashboard</a>
			</div>
			<div class="user">
				<a id="user" href="/admin/users"><i class="fa-solid fa-user"></i>Users</a>
			</div>
			<div class="transactions">
				<a class="transactionsText" id="transactions" href="/admin/transactions"><i class="fa-solid fa-briefcase"></i>Transactions</a>
			</div>
			<div class="logout">
				<a id="logout" href="/logout"><i class="fa-solid fa-right-from-bracket"></i>Logout</a>
			</div>
		</div>
	</div>
	<div class="mainPage" id="main">
		<header>
			<button class="openSidebar">☰</button>
		</header>
		<h1 th:text="${user.getUsername} + '\'s Credit Cards'"></h1>

		<div class="card-details-container">
			<div class="card-details"
				th:each="creditCard : ${requiredCreditCards}">
				<div class="card-details-2">

					<div id="card-details">
						<!-- Card details content -->
						<div class="details-card-type">
							<p th:text="${creditCard.cardType}"></p>
						</div>
						<div class="details-card-number">
							<p id="cardDetails" th:text="${creditCard.creditCardNumber}"></p>
						</div>
						<div class="details-card-amount">
							<label class="detail-label">Amount Used </label>
							<p id="cardDetails" th:if="${creditCard.getAmountUsed != 0}"
								th:text="'$' + ${#numbers.formatDecimal(creditCard.getAmountUsed,0,'COMMA',2,'POINT')}"></p>
							<p id="cardDetails" th:if="${creditCard.getAmountUsed == 0}"
								th:text="'$0.00'"></p>
						</div>
						<div class="details-card-status">
							<p
								th:if="${creditCard.creditCardStatus.statusName == 'Approved'}"
								style="color: green"
								th:text="${creditCard.creditCardStatus.statusName}"></p>
							<p
								th:if="${creditCard.creditCardStatus.statusName != 'Approved'}"
								style="color: red"
								th:text="${creditCard.creditCardStatus.statusName}"></p>
						</div>
						<form method="post" action="/admin/credicardStatus">
							<input type="hidden" name="creditCardNumber"
								th:value="${creditCard.creditCardNumber}" />
							<!-- Add the if statement to conditionally show the submit button -->
							<select name="status">
								<option value="Approved">Approved</option>
								<option value="Pending">Pending</option>
								<option value="Disabled">Disabled</option>
							</select>
							<button type="submit">update</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- 			<form id="viewTransactionsForm" th:action="@{/viewTransactions}" -->
		<!-- 				method="post" style="display: none;"> -->
		<!-- 				<input type="hidden" id="creditCardIdInput" name="creditCardId">	 -->
		<!-- 			</form>		 -->
	</div>
</body>
	
	<script>
			let menuOpen = false;
			const sidebar = document.querySelector('.linkContainerSideBar');
			const mainpage = document.querySelector('.mainPage');
			const button = document.querySelector('.openSidebar')
			
			button.addEventListener('click', () => {menuOpen = !menuOpen;
			mainpage.style.marginLeft = menuOpen ? '0' : '200px';
			sidebar.style.width = menuOpen ? '0' : '200px';})
			
			function submitForm(creditCardId) {
					    document.getElementById("creditCardIdInput").value = creditCardId;
					    document.getElementById("viewTransactionsForm").submit();
					}
		</script>
</html>