@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@keyframes transitionIn {
	from{
		opacity:0;
	}
	
	to {
		opacity:1;
	}
}

:root {
  --darkgreen: #2b6777;
  --lightblue:#c8d8e4;
  --white: #ffffff;
  --lightgrey:#f2f2f2;
  --lightgreen:#52ab98;
  --fadedgreen:#4F96A9;
}

.linkContainerSideBar{
	height: 100%;
	top:0;
	left:0;
	width: 200px;
	z-index: 1;
	overflow-x: hidden;
    background-color: #2b6777;
    transition: 0.5s;
    position: fixed;
}

#sidebar {
    display: flex;
    flex-direction: column;
}

.sidebarLinks {
    flex-grow: 1;
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.sidebarHeader{
	display: flex;
	justify-content: center;
}

.sidebarHeader img {
	width: 150px;
}

p#sidebarHeader{
	color: white;
	padding: 10px;
}

i {
	min-width: 25px;
}

.dashboard{
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	text-align: left;
	padding: 20px;
	margin-left: 20px;
}

.profile{
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	text-align: left;
	padding: 20px;
	margin-left: 20px;
}

.cards{
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	text-align: left;
	padding: 20px;
	margin-left: 20px;
	background-color: white;
	animation: transitionIn 0.75s;
}

.accounts{
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	text-align: left;
	padding: 20px;
	margin-left: 20px;
}

.logout{
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	text-align: center;
	padding: 20px;
	margin-top: auto;
}

a#dashboard {
	color: white;
	text-decoration:none;
	padding: 10px;
}

a#profile {
	color: white;
	text-decoration:none;
	padding: 10px;
}

a#accounts {
	color: white;
	text-decoration:none;
	padding: 10px;
}

a#logout {
	color: white;
	text-decoration:none;
	padding: 10px;
}

a#cards{
	color: black; 
	text-decoration:none;
	padding: 10px;
}


.mainPage{
	transition: margin-left .5s;
	margin-left: 200px;
	padding: 10px;
	padding-top: 5px;
}

.below-header {
	animation: transitionIn 0.75s;
}

.openSidebar{
	color: white;
	border:none;
	background-color: var(--darkgreen);
	padding: 15px;
	border-radius: 15px;
}

.openSidebar:hover{
	opacity: 0.6;
}

header {
	background-color: var(--darkgreen);
	padding-top:0px;
	margin:0px;
}

body{
	font-family: "Nunito Sans", sans-serif;
	min-width: 500px;
}

.button-container{
	display:flex;
	justify-content: center;
	gap: 15px;
	animation:transitionIn 1s;
	opacity: 0;
	animation-fill-mode: forwards;
	min-width: 450px;
}

a#cardTransactions, .hasCreditCards{
	color: black;
	font-weight: bold;
	min-width: 100px;
	text-decoration:none;
	border-radius: 15px;
	padding: 20px;
	background-color: var(--lightgrey);
	text-align: center;
}

a#cardTransaction{
	color: black;
	font-weight: bold;
	min-width: 100px;
	text-decoration:none;
	border-radius: 15px;
	padding: 20px;
	text-align: center;
}

a#cardTransactions:hover, .hasCreditCards:hover {
	background-color: var(--lightblue);
}

.card-details-container{
	flex: 1 1 35%;
    min-width: 300px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  	border-radius: 10px;
  	background-color: var(--lightgrey);
}

.view-details-button {
	display: flex;
    align-items: center;
}

.view-details-button h2 {
	margin-right: 10px;
}

.view-details-button button{
	text-align: right;
	border: none;
    outline: none;
    background-color: var(--white);
    min-width: 40px;
}

.card-details{
	display: flex;
    text-align: left;
    width: 100%;
    min-height: 100px;
    flex-direction: column;
    background-color: var(--white);
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}


a#card-details{
	text-decoration: none;
}

.details-card-type,
.details-card-number{
	padding-left: 15px;
} 

.details-card-type p {
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 0px;
	color: black;
}

.details-card-number p {
	margin-top: 0px;
	margin-bottom: 10px;
	color: black;
}

.detail-label {
    font-weight: bold;
    color: black;
}

.details-card-amount p{
    display: block;
    color: black;
    margin: 0px;
    padding-bottom: 5px;
}

.details-card-amount {
	text-align: right;
    padding-right: 15px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
}

.card-details:hover {
	background-color: var(--lightblue);
}