@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@keyframes transitionIn {
	from{
		opacity:0;
	}
	
	to {
		opacity:1;
	}
}

:root {
  --darkgreen: #2b6777;
  --lightblue:#c8d8e4;
  --white: #ffffff;
  --lightgrey:#f2f2f2;
  --lightgreen:#52ab98;
  --fadedgreen:#4F96A9;
}

.linkContainerSideBar{
	height: 100%;
	top:0;
	left:0;
	width: 200px;
	z-index: 1;
	overflow-x: hidden;
    background-color: #2b6777;
    transition: 0.5s;
    position: fixed;
}

#sidebar {
    display: flex;
    flex-direction: column;
}

.sidebarLinks {
    flex-grow: 1;
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.sidebarHeader{
	display: flex;
	justify-content: center;
}

.sidebarHeader img {
	width: 150px;
}

p#sidebarHeader{
	color: white;
	padding: 10px;
}

i {
	min-width: 25px;
}

.dashboard{
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	text-align: left;
	padding: 20px;
	margin-left: 20px;
}

.profile{
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	text-align: left;
	padding: 20px;
	margin-left: 20px;
}

.cards{
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	text-align: left;
	padding: 20px;
	margin-left: 20px;
	background-color: white;
}

.accounts{
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	text-align: left;
	padding: 20px;
	margin-left: 10px;
}

.logout{
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	text-align: center;
	padding: 20px;
	margin-top: auto;
}

a#dashboard {
	color: white;
	text-decoration:none;
	padding: 10px;
}

a#profile {
	color: white;
	text-decoration:none;
	padding: 10px;
}

a#accounts {
	color: white;
	text-decoration:none;
	padding: 10px;
}

a#logout {
	color: white;
	text-decoration:none;
	padding: 10px;
}

a#cards{
	color: black; 
	text-decoration:none;
	padding: 10px;
	margin-left: 0px;
}

.mainPage{
	transition: margin-left .5s;
	margin-left: 200px;
	padding: 10px;
	padding-top: 5px;
	min-width: 600px;
}

body{
	font-family: "Nunito Sans", sans-serif;
	min-width: 500px;
}

header {
	background-color: var(--darkgreen);
	padding-top:0px;
	margin:0px;
}

.openSidebar{
	color: white;
	border:none;
	background-color:var(--darkgreen);
	padding: 15px;
	border-radius: 15px;
}

.openSidebar:hover{
	opacity: 0.6;
}

.card-payment-container{
	display: block;
	justify-content: center;
	animation: transitionIn 0.75s;
}

.bills-summary, .form {
    width: 90%;
    margin: auto;
    padding: 20px;
}

.bills-summary {
	background: var(--lightgrey);
	border-radius: 8px;
}
 

table {
	width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 5px;
    text-align: left;
  }
  
th {
  
	background-color: var(--lightgrey);
}

.nested-table p{
	margin:1px;
}
 
tr:hover {
   background-color: var(--white);
}

.bills-summary th:nth-child(1),
.bills-summary td:nth-child(1) {
    width: 25%; 
}

.bills-summary th:nth-child(2),
.bills-summary td:nth-child(2) {
    width: 25%; 
}

.bills-summary th:nth-child(3),
.bills-summary td:nth-child(3) {
    width: 40%; 
}

.form{
	display: block;
	margin: 0px auto;
    padding: 0px;
    border-radius: 8px;
}

.pay-from-to-container {
	margin: 10px auto;
    padding: 20px;
	background: var(--lightgrey);
    border-radius: 8px;
    margin-bottom: 5px;
}

.pay-methods-container {
	margin: 10px auto;
    padding: 20px;
	background: var(--lightgrey);
    border-radius: 8px;
}

.pay-methods-container h3 {
	text-align: center;
}

.payment-amount{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.submit-buttons button {
	display: block;
	margin: 20px auto;
	padding: 10px;
	min-width: 100%;
	background-color: var(--lightblue);
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    font-weight: bold;
    font-size: 15px;
}

.payment-amount input,
.payment-amount button {
	font-family: "Nunito Sans", sans-serif;
    flex-grow: 1;         
    margin: 5px;            
}

.payment-amount button {            
    background-color: var(--lightblue);
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    font-weight: bold;
    min-width: 250px;  
    padding: 10px;
    font-size: 15px;
}

.bank-account, .credit-card, .payment-amount{
	margin-bottom: 1%;
}

.input-label {
    display: block;
    margin-bottom: 1%;
    font-size: 20px;
    color: black;
    font-weight: bold;
}

.table-text {
	font-weight: bold;
}

.submit-button{
	text-align: center;
}

input#submitButton:hover, button#paymentButton:hover{
	background-color: var(--darkgreen);
    color: white;
    font-weight: bold;
}

input[type="number"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

select {
    width: 100%;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    font-size: 16px;
    color: black;
    font-family: "Nunito Sans", sans-serif;
    appearance: none;
}
	
select option {
	color: black;
}

select:focus {
    border-color: #ccc;
    border-radius: 4px;
    outline: none;
}