@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@keyframes transitionIn {
	from{
		opacity:0;
		transform:rotateX(-10deg);
	}
	
	to {
		opacity:1;
		transform:rotateX(0);
	}
}

:root {
  --darkgreen: #2b6777;
  --lightblue:#c8d8e4;
  --white: #ffffff;
  --lightgrey:#f2f2f2;
  --lightgreen:#52ab98;
  --fadedgreen:#4F96A9;
}

body{
	font-family: "Nunito Sans", sans-serif;
	min-width: 500px;
}

header {
	background-color: var(--darkgreen);
	padding-top:0px;
	margin:0px;
}

.closeSidebar:hover{
	opacity: 0.5;
}

.linkContainerSideBar{
	height: 100%;
	top:0;
	left:0;
	width: 200px;
	z-index: 1;
	overflow-x: hidden;
    background-color: #2b6777;
    transition: 0.5s;
    position: fixed;
}

#sidebar {
    display: flex;
    flex-direction: column;
}

.sidebarLinks {
    flex-grow: 1;
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.sidebarHeader{
	display: flex;
	justify-content: center;
}

.sidebarHeader img {
	width: 150px;
}

p#sidebarHeader{
	color: white;
	padding: 10px;
}

i {
	min-width: 25px;
}

.dashboard{
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	text-align: center;
	padding: 20px;
	margin-left: 20px;
}

.user{
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	text-align: center;
	padding: 20px;
	background-color: white;
	margin-left: 20px;
}

.logout{
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	text-align: center;
	padding: 20px;
	margin-top: auto;
}

.transactions{
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	text-align: center;
	padding: 20px;
	margin-left: 20px;
}

a#dashboard {
	color: white;
	text-decoration:none;
	padding: 10px;
}

a#user {
	color: black;
	text-decoration:none;
	padding: 10px;
}


a#logout {
	color: white;
	text-decoration:none;
	padding: 10px;
}

a#transactions{
	color:white;
	text-decoration:none;
	padding: 10px;
}

.mainPage{
	transition: margin-left .5s;
	margin-left: 200px;
	padding: 10px;
	padding-top: 5px;
}

.account, .creditCard{
	display:flex;
	margin-bottom: 5%;
}

.creditCardDetails, .accountDetails, .card-details{
	width: 35%;
	margin-left:5%;
	margin-bottom: 2%;
	border-radius: 15px;
	padding: 20px;
	background-color: var(--lightgrey);
	animation:transitionIn 1s;
	opacity: 0;
	animation-fill-mode: forwards;
}

.accountLinkContainer{
	display: flex;
	justify-content: center;
}

h1{
	padding-bottom: 15px;
}

.noAccounts{
	display: flex;
	justify-content: center;
}

.accountCRUD{
	display: inline-flex;
	justify-content: center;
	gap: 15px;
	padding-bottom: 15px;
}

a#accountCRUD{
	color: white;
	text-decoration:none;
	border-radius: 15px;
	padding: 20px;
	background-color: #4F96A9;
	text-align: center;
}


a#card-details{
	text-decoration:none;
}

p, label{
	color: black;
	border-radius: 15px;
}

.openSidebar{
	color: white;
	border:none;
	background-color: var(--darkgreen);
	padding: 15px;
	border-radius: 15px;
}

.openSidebar:hover{
	opacity: 0.6;
}

.transactionTable{
	background-color:#4F96A9;
	padding: 15px;
	border-radius: 15px;
	animation:transitionIn 1.5s;
	opacity: 0;
	animation-fill-mode: forwards;
}

.card-details-2{
	background-color:white;
	padding:5px;
	border-radius:15px;
}
