<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="/account/transfer.css">
<meta charset="UTF-8">
<script src="https://kit.fontawesome.com/87c4d319f6.js" crossorigin="anonymous"></script>
<script th:src="@{/Chart.js}"></script>
<title>Transfer</title>
</head>
<body>
	<div class="linkContainerSideBar" id="sidebar">
		<div class="sidebarHeader">
			<p id="sidebarHeader"><img src="/logo-transparent.png"></p>
		</div>
		<div class="sidebarLinks">
			<div class="profile">
				<a id="profile" th:href="@{/users/{id}(id=${user.userId})}"><i class="fa-solid fa-user"></i>Profile</a>
			</div>
			<div class="dashboard">
				<a id="dashboard" href="/dashboard"><i class="fa-solid fa-clipboard"></i>Dashboard</a>
			</div>
			<div class="cards">
				<a class="cardsText" id="cards" href="/userCards"><i class="fa-solid fa-credit-card"></i>Cards</a>
			</div>
			<div class="accounts">
				<a class="accountsText" id="accounts" href="/bankaccount/dashboard"><i class="fa-solid fa-briefcase"></i>Accounts</a>
			</div>
			<div class="logout">
				<a id="logout" href="/logout"><i class="fa-solid fa-right-from-bracket"></i>Logout</a>
			</div>
		</div>
	</div>
	<div class="mainPage" id="main">
		<header>
           <button class="openSidebar">☰</button>
        </header>
        
        <div class="below-header">
		<h1>Transfer</h1>
    
		<div class="transfer-form-container">
		  <form method="post" action="/bankaccount/transfer">
            <div class="from-to-transfer-container">
    			<div class="account-transfer-from">
                  <label class="input-label" for="account">From: </label> 
                  <select name="account">
                   <option value="" disabled selected hidden>Select Account...</option>
    			   <option th:each="account : ${AccountList}"
    					   th:if="${account.accountStatus.statusName != 'Pending'}"
    					   th:value="${account.accountId}"
    					   th:text="${account.accountName} + '   ' + ${account.accountNumber}">
                   </option>
                  </select>
                </div>
                
                <div class="account-transfer-to">
                  <label class="input-label" for="account-transfer-to">To:</label>
                  <input type="text" name="accountNumberTransferTo" id="accountNumberTransferTo" placeholder="Account Number" onkeydown="validateNumericInput(event)">
                  <p th:if="${param.error}" class="alert alert-danger">Account Number cannot be blank.</p>
                </div>
                
            </div>
            
            <div class="amount-currency-container">
              <div class="transfer-amount">
                <label class="input-label" for="transferAmount">Amount: </label>
                <input type="number" name="transferAmount" placeholder="Transfer Amount" min="0" step="0.01" required>
              </div>
  			
              <div class="select-currency">
                <label class="input-label" for="currency">Currency: </label> 
                <select name="currency">
                  <option th:each="currency : ${currencies}"
                          th:value="${currency.code}" th:text="${currency.name}" th:selected="${currency.code == 'SGD'}">
                  </option>
                 </select>
              </div>
              
                
            </div>
            
            <div class="submit-button">
                      <input id="submitButton" type="submit" value="Transfer">
            </div>
            
            	
						
			<div th:if="${param.SameAccountError}">
				<p style="color: red;">Could not transfer money to the same account. Please check your input account number.</p>
			</div>
			<div th:if="${param.InsufficientBalanceError}">
				<p style="color: red;">Insufficient balance. Please check your account balance.</p>
			</div>
			<div th:if="${param.RecipientAccountPendingError}">
				<p style="color: red;">Recipient Account is still pending. Please try again later.</p>
			</div>
		 </form>
		</div>
       </div>
	</div>
	
	<script>
			const input = document.getElementById("accountNumberTransferTo");
			input.addEventListener("input", () => input.value = formatNumber(input.value.replaceAll(" ", "")));
		
			const formatNumber = (number) => number.split("").reduce((seed, next, index) => {
			  if (index !== 0 && !(index % 3)) seed += " ";
			  return seed + next;
			}, "");
			
			let menuOpen = false;
			const sidebar = document.querySelector('.linkContainerSideBar');
			const mainpage = document.querySelector('.mainPage');
			const button = document.querySelector('.openSidebar')
			
			button.addEventListener('click', () => {menuOpen = !menuOpen;
			mainpage.style.marginLeft = menuOpen ? '0' : '200px';
			sidebar.style.width = menuOpen ? '0' : '200px';})
			function validateNumericInput(event) {
		        const keyCode = event.keyCode || event.which;
		        const isNumberKey = (keyCode >= 48 && keyCode <= 57) || (keyCode >= 96 && keyCode <= 105);
		        
		        if (!isNumberKey && keyCode !== 8 && keyCode !== 46) {
		            event.preventDefault();
		        }
		    }
		    
		</script>
</body>
</html>