<!DOCTYPE html>
<html lang="en">
	
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SwipeSmart</title>
  <link rel="stylesheet" href="/index.css">
</head>

<body>
  <div class="logo-container">
	<a href="/">
		<img src="/logo-transparent.png">
	</a>
  </div>
  
  
  <div class="register-container">
	<h2>Your Ultimate Banking Companion</h2>
	<p class="app-description">SwipeSmart is not just another banking app; 
it's your personal financial concierge designed to simplify your banking experience and empower your financial journey.</p>
	<a href="/register" class="register-button">Register</a>
	<p class="below-register-button">We'll take care of you.</p>
	
  </div> 
  
  <div class="login-container">
	  <h2>Already a member?</h2>
	  <a href="/login" class="login-button">Login</a>
	  <p>Welcome back.</p>
  </div>
  
  <footer>
    <p>&copy; 2024 Banking Application. All rights reserved.</p>
  </footer>
  
</body>
</html>
