<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="/register.css">
<meta charset="UTF-8">
<title>Register</title>
</head>
<body>
	<div class="register-page-container">

		<div class="logo-container">
			<a href="/"> <img src="/logo-transparent.png">
			</a>
		</div>

		<div class="formContainer">
			<form method="post" action="register">

				<div class="form-group">
					<label for="username">Username</label> <input id="username"
						type="text" name="username" placeholder="eg. John123">
				</div>
				
				<div class="form-group" style="text-align: left;">
					<label for="password">Password</label> <input id="password"
						type="password" name="password" placeholder="eg: Freedom123">
					<p>Password requirements:</p>
					<p>Must have upper and lower case letters and numbers</p>
					<p>Password length is minimally 8 letters</p>
				</div>

				<div class="register-button-container">
					<input id="registerButton" type="submit" value="Register">
				</div>

			</form>
		</div>

		<div class="errorMessage" th:if="${errorInvalid}">
			<p>Invalid username or password.</p>
		</div>
		<div class="errorMessage" th:if="${errorAlphanumeric}">
			<p>Password needs to have a combination of letters and numbers.</p>
		</div>
		<div class="errorMessage" th:if="${errorLength}">
			<p>Password length has to be atleast 8 characters long.</p>
		</div>

		<div class="login-container">
			<p>
				Have an existing account? <a id="login" href="/login">Login Here</a>
			</p>
		</div>

	</div>

</body>
</html>